.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.links > a {
    color: #ffffff;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.hidden {
    display: none;
}